.DS_Store
.idea
.bundle
.rvmrc
*.orig
config/hirb.yml
.console_history
z.sql
Result

vender/bundle

config/database.yml
public/uploads/
public/system/
public/assets
vendor/plugins
vendor/plugin
vendor/bundle

db/*.sqlite3
log/*.log
log/*.db
log/*.age
log
tmp/
will_paginate/
.redcar/
.redcar/*
*.swp
*~
tags

.sass-cache
.metadata/

coverage/
nbproject

public/favicon.ico
.project
.settings
public/index.html

config/deploy/local_production.rb
dump.rdb

